<!DOCTYPE html>
<html>
  <head>
    <title>JobNotes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

     <!-- Following will make the react components availabe to our layout -->
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
